Your account as an expert at Ask a Mars Question has been created.

  Username: <%= @user.login %>
  Password: <%= @user.password %>

Visit this url to activate your account:

  <%= @url %>
  
Thanks,
Ask a Mars Question