- content_for :body do
  = error_messages_for 'user'
  
  - form_for :user, :url => user_path(@user), :html => {:method => "put"} do |f|
    
    = render :partial => 'form', :locals => { :f => f }
    
    %br
    = submit_tag "Update user", :class => "button"
    
  = transparent_flash_message
      
    
      