<p><%= @expert.name %></p>
<p><%= @expert.biography %></p>
<p><%= @expert.name %> has answered <%= pluralize(@expert.questions.count, "question") %>:</p>

<dl>
<% @expert.questions.each do |question| %>
  <dt><%= question.question %></dt>
  <dd><%= question.answer.answer %><dd>
<% end %>
</dl>